<p>home works!</p>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">User</th>
    <th scope="col">Post</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let post of tableData">
    <th scope="row">{{ post.user }}</th>
    <td>
    <a href="javascript:void(0);" > {{ post.title }}</a>
      <a>  {{ post.body }}</a>
    </td>
<!--    <td>{{ post.area | number}}</td>-->
<!--    <td>{{ post.population | number }}</td>-->
  </tr>
  </tbody>
</table>
<div>
  <button (click)="decreasePage()" [disabled]="page - 1 === 0">
    <i class="fas fa-angle-left"></i>
  </button>
  <button  (click)="increasePage()" [disabled]="page > max">
    <i class="fas fa-angle-right"></i>
  </button>
</div>
<button (click)="onGetPosts()">Posts</button>
<button (click)="onGetUsers()">Users</button>
