<div class="edit-page">
  <div class="edit-header">
    <div *ngIf="bnd.isNew === false; else elseBlock">
      <h2>Edit Post</h2>
    </div>
    <ng-template #elseBlock>
      <h2>New Post</h2>
    </ng-template>
    <div class="home-link">
      <a href="javascript:void(0);" (click)="goToHome()">Go back to Home page</a>
    </div>
    <div class="user-group" *ngIf="bnd.checkForUser()">
          <a>Welcome </a>
          <a>{{bnd.userToLogin['name']}}</a>
    </div>
  </div>

  <div class="edit-group">
    <div style="display:grid">
      <h5>Title</h5>
      <div>
        <textarea rows="1" style="width: 100%" [(ngModel)]="bnd.editTitle"></textarea>
      </div>
      <div class="error-message">
        <label style="color: red" *ngIf="checkEmpty(bnd.editTitle)">The Title cannot be empty!</label>
        <label style="color: red" *ngIf="bnd.editTitle.length > 200">The Title cannot be longer than 200 characters</label>
      </div>
    </div>
    <div style="display:grid">
      <h5>Message</h5>
      <div>
        <textarea rows="5" style="width: 100%" [(ngModel)]="bnd.editMessage"></textarea>
      </div>
        <div class="error-message">
          <label style="color: red" *ngIf="checkEmpty(bnd.editMessage)">The Message cannot be empty!</label>
          <label style="color: red" *ngIf="bnd.editMessage.length > 2000">The Message cannot be longer than 2000 characters</label>
     </div>
    </div>
    <div class="edit-buttons">
      <div class="delete-button">
        <div *ngIf="bnd.isNew === false;">
          <button (click)="deleteAction()">Delete</button>
        </div>
      </div>

      <div class="save-cancel">
        <div class="small-gap" *ngIf="bnd.isNew === false; else elseBlock2">
          <button [disabled]="checkDisabledAny()" (click)="editAction()">Save</button>
        </div>
        <ng-template #elseBlock2>
          <div class="small-gap">
            <button [disabled]="checkDisabled()" (click)="saveAction()">Save</button>
          </div>
        </ng-template>
        <div class="small-gap">
          <button (click)="cancelAction()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
